@charset "utf-8";



header {
  background-color:#75A9FF;
  height:100px;
  width:100%;
  border-bottom:1px solid white;
  position: relative;
}

a {
  text-decoration:none;
}

h1 {
  color:white;
}

.blog h2 {
  font-family:'SimSun';
  font-size: 40px;
  letter-spacing: 10px;
  color:#C0C0C0;
  font-weight: normal;
}

body {
  margin:0 0;
}

.blog {

}

.header-logo img {
  float:left;
  padding-left:8%;
}

.header-contents li:hover {
  background-color:#5D99FF;
  transition: all 0.8s;
  cursor:pointer;
}

.header-contents a {
  color:white;
}

.header-contents {
  float:right;
  height:100%;
  position: absolute;
  bottom:0;
  right:40px;
}

.header-contents li {
  font-size:18px;
  list-style: none;
  color:white;
  float:left;
  padding:25px 70px 20px 70px;
  border-left:2px solid white;
  margin-top: 10px;
}

.blog {
  height: auto;
}

.back {
  background-image: url("eatonIn.jpg");
  height:100%;
  width: 60%;
  position: fixed;
  top:0px;
  left:0px;
  right:0px;
  z-index: -1;
  background-position: center;
  background-size: contain;
  background-size: cover;
  margin:auto;
}

.blog0 {
  height:300px;
  width: 90%;
  margin-top:80px;
  background-color: white;
  margin: auto;
  font-size: 25px;
  text-align: center;
  padding:50px 0;
  font-family:'SimSun';
  letter-spacing: 5px;
  color:#C0C0C0;
}

.blog0 img {
    box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
}

.blog1 {
  width: 60%;
  height:700px;
  margin: auto;
  text-align: center;
  background: rgba(0,0,0, 0.4 );
  color:white;
  font-size: 17px;
}

.blog1 p {
  padding-top: 80px;
  width: 70%;
  display: inline-block;
}


.blog2 {
  height:650px;
  width: 90%;
  padding-top:10px;
  background-color: white;
  margin: auto;
  font-size: 17px;
}

.blog2 p {
  display: inline-block;
}

.map {
  position: relative;
  top:0;
  height: 450px;
  text-align:right;
}

.map h2 {
  position:absolute;
  top:-10px;
  left: 10%;
}

.ggmap {
padding-bottom:0px;
padding-top: 0px;
height: 0px;
overflow: hidden;
}

.ggmap iframe,
.ggmap object,
.ggmap embed {
position: absolute;
top: 130px;
left: 50px;
width: 40%;
height: 300px;
}

.map p {
  width: 40%;
  margin-right: 100px;
  margin-top: 100px;
  text-align:left;
}

.part1 {
  height:200px;
}

.blog3 {
  height:auto;
  width: 100%;
  background-color: white;
  margin: auto;
  font-size: 17px;
  clear: both;
  overflow: hidden;
}

.blog3 h2 {
  padding-left: 10%;
}

.blog3 img {
  box-shadow: 5px 5px 10px rgba(0,0,0,0.6);
  margin: 0% 2%;
}

.blog3-head {
  width:60%;
  padding-left: 20%;
}

.shop {
  padding-top: 1%;
  padding-bottom: 2%;
  margin-left: 7%;
  margin-right: 7%;
  clear: both;
  overflow: hidden;
}

.shop p {
  width: 60%;
}

.shop1 p {
  float: right;
}

.shop2 img {
  float:right;
}

.part2 {
  height:200px;
}

.blog4 {
  height:300px;
  width: 90%;
  padding-top:10px;
  background-color: white;
  margin: auto;
  font-size: 17px;
  text-align: center;
}

.blog4 p {
  width: 60%;
  margin: auto;
  margin-top: 30px;
}

.blog5 {
  height:690px;
  width: 70%;
  padding-top:10px;
  background-image: url("eatonhall.jpg");
  background-size: contain;
  background-size: cover;
  margin: auto;
  font-size: 17px;
  color:white;
  text-align: center;
}

.blog5 h1 {
  font-size: 70px;
  font-family:'SimSun';
  padding-top: 200px;
}

.blog5 p {
  font-size: 20px;
  font-family:'SimSun';
}

footer {
  color:white;
  background-color:#000033;
  height:200px;
  width:100%;
  position: relative;
}

.btn {
  color:white;
  display:inline-block;
  padding:8px 24px;
}



.fab {
  margin-right:10px;
}

.twitter {
  background-color:#55acee;
  margin-top:50px;
   margin-right :70px;
  float:right;
}

.facebook {
  background-color:#3B5998;
  margin-top:110px;
  margin-right:-130px;
  float:right;
}

.btn-wrapper p {
  font-size:24px;
  float:right;
  margin:40px 20px 0 0;
  font-weight: bold;
}

.info-wrapper {
  font-family:monospace;
  height:150px;
  width:40%;
  position:absolute;
  top:20px;
  left:50px;
}

.info-wrapper h2 {
  font-size:40px;
  font-weight: normal;
  position: absolute;
  top:0;
  left:15px
}

.info-text {
  position:absolute;
  top:30px;
  left:180px;
  line-height: 20px;
}
